<html>
   <body>
     <div style="text-align: center; background-color: #002266;" >
     <br/><br/><h1 style="text-align: center; color: #FFFFFF;">Digital Companion</h1>
     <h2 style="text-align: center; color: #FFFFFF;">Stress Detection</h2>
      <br/><br/><br/><form action = "http://165.132.56.182:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input style="color: #FFFFFF" type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <br/><br/><br/><br/><br/>
    </div>
    <h5 style="text-align: center; color: #002266;">Copyrightⓒ 2019. DSP & AI Lab. Yonsei Uni. All rights reserved.</h5>
   </body>
</html>
